<div class="container">
  <div class="left"></div>
  <div class="right">
    <h2>all of {{ usersShow.user.username }}'s trips</h2>
    <div class="row">

      <div ng-repeat="trip in usersShow.user.trips_created">
        <a ui-sref="tripsShow({ id: trip.id })"><h3>{{ trip.title }}</h3></a>

        <div ng-repeat="leg in trip.legs">
          <p>{{ leg.location }}</p>
        </div>
      </div>
      <button ui-sref="usersEdit({id: usersShow.user.id})" ng-if="main.isAuthenticated() && main.currentUser.id === usersShow.user.id">Edit Profile</button>
       <button ng-click="usersShow.delete()" class="btn btn-danger">Delete Your Profile</button>
    </div>
  </div>
</div>
