<div class="row">
  <div class="col-md-6">
    <div class="trip">
      <h2>{{ tripsShow.trip.title }}<h2>
      <p>Created by: <strong>{{ tripsShow.trip.user.username }}</strong></p>

      <button ng-click="tripsShow.toggleAttending()" ng-if="!tripsShow.isAttending()"     >Attend</button>

       <!-- && main.isAuthenticated()" -->
      <button ng-click="tripsShow.toggleAttending()" ng-if="tripsShow.isAttending()">Reject</button>

       <!-- && main.isAuthenticated() -->

      <button ui-sref="tripsEdit({id: tripsShow.trip.id})" ng-if="main.isAuthenticated()       ">Edit</button>
      <button ng-click="tripsShow.delete()" ng-if="main.isAuthenticated()        ">Delete</button>


      <!-- && main.currentUser.id === tripsShow.trip.user.id -->

      <!-- && main.currentUser.id === tripsShow.trip.user.id -->
    </div>
  </div>
  <div class="col-md-6">
  <div class="joiners">
    <h5>Trip Joined by</h5>
    <ul>
      <li ng-repeat="joiner in tripsShow.trip.joiners">{{ joiner.username }}</li>
    </ul>
  </div>
</div>
</div>

<div class="comments">
  <div class="row">
    <div class="col-md-6">
      <h2>Comments</h2>
      <ul>
        <li ng-repeat="comment in tripsShow.trip.comments">{{ comment.body }} - <strong>{{ comment.user.username }}</strong><button ng-click="tripsShow.deleteComment(comment)" ng-if="main.isAuthenticated() && main.currentUser.id === comment.user.id">Delete</button></li>
        <!--  -->
      </ul>
    </div>
    <div class="col-md-6" ng-if="main.isAuthenticated()">
      <h2>Add Comment</h2>
      <form ng-submit="tripsShow.addComment()">
        <textarea type="text" name="body" ng-model="tripsShow.comment.body"></textarea>
        <button>Create</button>
      </form>
    </div>
  </div>
</div>

<google-map legs="tripsShow.trip.legs" ng-if="tripsShow.trip.$resolved"></google-map>




<div class="row">
  <div class="col-md-6">
    <h2>Add a Leg</h2>
    <form ng-submit="tripsShow.create()">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" ng-model="tripsShow.leg.date">

      <label for="location">Location</label>
      <input type="text" autocomplete id="location" name="location" ng-model="tripsShow.location"  lat="tripsShow.stop.lat" lng="tripsShow.stop.lng" place="tripsShow.stop.name">




      <label for="base64">Image</label>
      <input type="file" base64 id="base64" name="base64" ng-model="tripsShow.leg.base64">
      <label for="description">Description</label>
      <input type="text" id="description" name="description" ng-model="tripsShow.leg.description">

      <button>Create</button>
    </form>
  </div>

  <div ng-repeat="leg in tripsShow.trip.legs" class="col-md-4 dates-content">
    <h3>Date: {{leg.date}} <br> Location: {{ leg.location }} <br> description: <br>{{leg.description}} <br> <img ng-src="{{ leg.image_src }}"></h3>
    <button ng-click="tripsShow.deleteLeg(leg)" ng-if="main.isAuthenticated()">Delete</button>
    <!-- && main.currentUser.id === leg.trip.user -->
  </div>
</div>
