<div class="row reg">
  <div class="col-md-6 ">
    <form ng-submit="auth.register()">
      <div class="regForm">
        <div class="form-group">
          <label class="regInputs">Username</label>
          <input type="text" ng-model="auth.user.username">
        </div>
        <div>
          <label class="regInputs">Email</label>
          <input type="text" ng-model="auth.user.email">
        </div>
        <div>
          <label class="regInputs">Password</label>
          <input type="password" ng-model="auth.user.password">
        </div>
        <div>
          <label class="regInputs">Password Confirmation</label>
          <input type="password" ng-model="auth.user.password_confirmation">
        </div>
        <div class="regBtns">
          <button class="regButton">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
