<div class="row">
  <div class="col-md-6">
    <form ng-submit="legsEdit.update()">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" ng-model="legsEdit.leg.date">
      <label for="location">Title</label>
      <input type="text" id="title" name="title" ng-model="legsEdit.leg.location">
      <label for="image">Image</label>
      <input type="text" id="image" name="image" ng-model="legsEdit.leg.image">
      <label for="description">Description</label>
      <input type="description" id="description" name="description" ng-model="legsEdit.leg.description">
      <button>Update</button>
    </form>
  </div>
</div>
