// Import all of your scss files here
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import 'extends';
$main-color: #FF999C;

.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home {
  background-image: url('http://i.imgur.com/hR14jVH.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  h1 {
   @extend .centered-styles;
   color: white;
   font-size: 60px;
   font-weight: bold;
   letter-spacing: -3px;
   text-shadow: 2px 2px blue;
   margin-top: -15%;
 }
}

.login {
  background-image: url('http://i.imgur.com/hR14jVH.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.reg {
  background-image: url('http://i.imgur.com/hR14jVH.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.generalbutton {
    background: none;
    color: rgb(249, 188, 188);
    border: none;
    padding: 5px 20px;
    margin-top: 10%;
    margin-left: 30%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    &:hover {
      background: none;
      color: white;
      animation: pulse 1s infinite;
    }
}

.loginForm {
  border-radius: 5%;
  padding: 12px;
  background-color: rgba(60,1,1,.4);
  color: white;
  margin-top: 41%;
  text-align: center;
    input {
      margin: 10px;
    }
}
.logBtns {
  margin-left: 30px;
    .loginbutton {
      @extend .generalbutton;
      }
}

.regForm {
  border-radius: 5%;
  padding: 12px;
  background-color: rgba(60,1,1,.4);
  color: white;
  margin-top: 41%;
  text-align: center;
    input {
      margin: 10px;
    }
}
.regBtns {
  margin-left: 30px;
    .regButton {
      @extend .generalbutton;
      }
}

nav {
        ul {
          li {
            a {
              color: black;
            }
          }
        }
      }

.map {
  width: 1140px;
  height: 500px;
}

nav {
    height: 60px;
    ul {
      li {
        line-height: 60px;
        display: inline-block;
        &:first-child {
          font-size: 24px;
        }
        &:not(:first-child) {
          float: right;
          margin-left: 20px;
        }
        a {
          color: black;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 3px;
          &:hover {
            color: grey;

          &.active {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              border-radius: 2px;
              background-color: white;
            }
          }
        }
      }
    }
  }
}

.content {
  @extend .border;
  @extend .border--blue;
  ul {
    li {
      &:not(:last-of-type) {
        border-bottom: 1px solid lighten($brand-secondary, 30%);
      }
      padding: 10px 0;
      button {
        font-size: 8px;
        padding: 2px 4px;
        @extend .button;
        @extend .button--blue;
        margin-left: 10px;
        position: relative;
        top: -2px;
      }
    }
  }
}

button, input, textarea {
  font-family: 'Quicksand', sans-serif;
}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: 400;
}

h1, h2, h5 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  display: block;
}

.createdBy {
  font-size: 20px;
}


.title {
  font-family: 'Pacifico', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #15837c;
}

.legContent {
  border: 2px solid $brand-secondary;
  margin: 2px;
  display: inline-block;
}

img {
  width: 600px;
  height: 400px;
}

.file {
  font-size: 12px;
}

.dateShow {
  width: 180px;
  margin-right: 13%;
}

.legLocation {
  width: 200px;
}

.legDescription {
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}

.descriptionShow {
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
}

li {
  list-style-type: none;
}
