// Import all of your scss files here
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import 'extends';

nav {
        ul {
          li {
            a {
              color: black;
            }
          }
        }
      }

.map {
  width: 1140px;
  height: 500px;
}

nav {
    height: 60px;
    ul {
      li {
        line-height: 60px;
        display: inline-block;
        &:first-child {
          font-size: 24px;
        }
        &:not(:first-child) {
          float: right;
          margin-left: 20px;
        }
        a {
          color: black;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 3px;
          &:hover, &:focus {
            color: grey;

          &.active {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              bottom: -2px;
              left: 0;
              height: 2px;
              width: 100%;
              border-radius: 2px;
              background-color: black;
            }
          }
        }
      }
    }
  }
}

.content {
  @extend .border;
  @extend .border--blue;
  ul {
    li {
      &:not(:last-of-type) {
        border-bottom: 1px solid lighten($brand-secondary, 30%);
      }
      padding: 10px 0;
      button {
        font-size: 8px;
        padding: 2px 4px;
        @extend .button;
        @extend .button--blue;
        margin-left: 10px;
        position: relative;
        top: -2px;
      }
    }
  }
}

button, input, textarea {
  font-family: 'Quicksand', sans-serif;
}

a, a:hover, a:focus {
  color: black;
  text-decoration: none;
}

strong {
  font-weight: 400;
}

h1, h2, h5 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

h1 {
  text-align: center;
  display: block;
}

.createdBy {
  font-size: 20px;
}


.title {
  text-align: center;
}

.legContent {
  border: 2px solid $brand-secondary;
  margin: 2px;
  display: inline-block;
}

img {
  width: 600px;
  height: 400px;
}

.file {
  font-size: 12px;
}

.dateShow {
  width: 180px;
  margin-right: 13%;
}

.legLocation {
  width: 200px;
}

.legDescription {
  // margin-left: 370%;
  // width: 350px;
}

li {
  list-style-type: none
}
