// Import all of your scss files here
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
@import 'extends';
$main-color: #FF999C;

img  {
  max-width: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}
.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-image {
  background-image: url('http://i.imgur.com/hR14jVH.jpg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  // margin-top: -60px;
  // position: absolute;
  top: 0;
  h1 {
   @extend .centered-styles;
   color: #ffffff;
   font-size: 60px;
   font-weight: bold;
   margin-top: 2%;
   letter-spacing: 10px;
   text-transform: uppercase;
   font-family: 'Palanquin Dark', sans-serif;
 }
}

#hometitle{
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  letter-spacing: 60px;
  font-size: 130px;
}

h2 {
  font-family: 'Palanquin Dark', sans-serif;
}

.loginLi {
  margin-right: 1%;
}

.login {
  background-image: url('http://i.imgur.com/hR14jVH.jpg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  // position: absolute;
  // t÷op:0;
}

.reg {
  margin-top: -60px;
  background-image: url('http://i.imgur.com/hR14jVH.jpg');
  background-size: cover;
  background-position: center;
  height: 110vh;
  .col-md-6 {
    width: 30%;
    margin-left: 34%;
    margin-top: 10%;
  }
}

.navA {
  position: relative;
  z-index: 100;
  background-color: rgba(0,0,0,0);

  // &:hover {
  //   color: #73bf31;
  // }

}

.left {
    width: 40%;
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25)), url('/images/left.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 1;
  }
  .right {
    width: 60%;
    margin: 5% -5% 0 0;
    right: 0;
    float: right;
  }

.trip {
  margin-bottom: 10%;
}

.generalbutton {
    background: none;
    color: rgb(249, 188, 188);
    border: none;
    padding: 5px 20px;
    margin-top: 10%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: -1px;
    &:hover {
      background: none;
      color: white;
      animation: pulse 1s infinite;
    }
}

.loginForm {
  border-radius: 5%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #f9bcbc;
  margin-top: 44%;
  text-align: center;
  width: 355px;
  margin-left: 30%;
  margin-top: 30%;
    input {
      margin: 10px;
      width: 185px;
      color: black;
      .form-group {
        margin-bottom: 4px;
        margin-top: 3%;
        color: black;
      }
    }
}
.logBtns {
  .loginbutton {
    @extend .generalbutton;
    margin-top: 1%;
    color: #d6eefb;
  }
}

i {
  color: white;
}

.github {
  background-color: black;
  color: white;
  a:hover {
  color: black;
  }
}

.regForm {
  font-family: 'Lobster', cursive;
  font-size: 16px;
  border-radius: 5%;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  margin-top: 30%;
  text-align: center;
  input {
    margin: 10px;
    width: 185px;
    color: black;
    .form-group {
      margin-bottom: -5px;
      margin-top: 3%;
      color: black;
    }
  }
}

.regInputs {
  width: 165px;
  color: #d6eefb;
  font-family: 'Lato', sans-serif;
}

.pc {
  margin-top: 5px;
}

.loginInput {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  width: 100px;
  color: #d6eefb;
}

.regBtns {
  margin-left: 30px;
  .regButton {
    @extend .generalbutton;
    margin-top: 1%;
    color: #d6eefb;
  }
}

.index {
  h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgb(0, 51, 79);
    // color: #00334F;
    p.createdBy {
      font-family: 'Lato', sans-serif;
      font-weight: 100;
      font-size: 18px;
      color: #00334F;
      text-transform: capitalize;
      letter-spacing: 0px;
    }
  }
}

main {
  background-color: #fff9f9;
}

nav {

  margin-bottom: -15vh;
  ul {
    background-color: rgba(0,0,0,0.9);
    li {
      a {
        color: black;
        margin-right: 20px;
        &:hover{
          color: #73b6bf;
        }
      }
    }
  }
}

.usersName {
  margin-bottom: 6%;
  font-family: 'Lato', sans-serif;
  color: #00334F;
  letter-spacing: 3px;
  margin-top: 3%;
}

.usersTrips {
  margin-bottom: 7%;
}

header {
  background-color: #fff9f9;
  // position: relative;
  z-index: 1;
}

.userRight {
  background-color: #fff9f9;
  margin-top: 6%;
}
.topContent {
  margin-bottom: -9%;
}

.map {
  width: 1140px;
  height: 500px;
}

.userRight {
  background-color: #fff9f9;
  height: 100vh;
}

nav {
    height: 60px;
    margin-bottom: -15vh;
    ul {
      li {
        line-height: 60px;
        display: inline-block;
        &:first-child {
          font-size: 24px;
        }
        &:not(:first-child) {
          float: right;
          margin-left: 25px;
        }
        a {
          color: #00334F;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 3px;
          &:hover {
            color: black;

          // &.active {
            // position: relative;
            // &:after {
            //   content: "";
            //   position: absolute;
            //   bottom: -2px;
            //   left: 0;
            //   height: 2px;
            //   width: 100%;
            //   border-radius: 2px;
            //   // background-color: white;
            // }
          // }
        }
      }
    }
  }
}

// .navA {
//     height: 60px;
//     ul {
//       li {
//         line-height: 60px;
//         display: inline-block;
//         &:first-child {
//           font-size: 24px;
//         }
//         &:not(:first-child) {
//           float: right;
//           margin-left: 25px;
//         }
//         a {
//           color: #00334F;
//           font-weight: 500;
//           text-transform: uppercase;
//           letter-spacing: 3px;
//           &:hover {
//             color: white;
//
//           &.active {
//             position: relative;
//             &:after {
//               content: "";
//               position: absolute;
//               bottom: -2px;
//               left: 0;
//               height: 2px;
//               width: 100%;
//               border-radius: 2px;
//               background-color: white;
//             }
//           }
//         }
//       }
//     }
//   }
// }

.joiners {
  float: right;
  display: block;
}

.tripJoined {
  text-align: center;
}

.join {
  width: 100px;
  margin-left: 32%;
}

.joinerUsers {
  font-family: 'Pacifico', cursive;
  letter-spacing: 2px;
  margin-top: 22px;
  margin-left: -18%;
}

.cancel {
  width: 100px;
  margin-left: 32%;
}

.content {
  @extend .border;
  @extend .border--blue;
  .create {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    width: 400px;
    margin-left: 32%;
    ul {
      li {
        &:not(:last-of-type) {
          border-bottom: 1px solid lighten($brand-secondary, 30%);
        }
        padding: 10px 0;
        button {
          font-size: 8px;
          padding: 2px 4px;
          @extend .button;
          @extend .button--blue;
          margin-left: 10px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}

.availFlights {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

span {
  font-weight: bold;
}

.info {
  color: #73b6bf;
}



.flights {
    font-family: 'Lato', sans-serif;
//       @extend .border;
//       @extend .border--blue;
//       // padding: 5%;
//       width: 93%;
//       ul {
//         li {
//           padding-left: 15px;
//           position: relative;
//           &:before {
//             content: "";
//             position: absolute;
//             top: 60%;
//             left: 0;
//             transform: translateY(-50%);
//             height: 5px;
//             width: 5px;
//             background-color: $brand-secondary;
//             border-radius: 50%;
//           }
//         }
//       }
    }

.flightsTo {
  font-family: 'Lato', sans-serif;
  color: #00334F;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
}

.userComment {
  font-family: Pacifico, cursive;
  letter-spacing: 2px;
  color: #00334F;
  font-size: 12px;
}

.commentsTitle {
  margin-left: 25%;
  color: #00334F;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.addComment {
  color: #00334F;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.take {
  font-size: 18px;
}

.title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #00334F;
}

.newTripTitle {
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  margin-left: 15%;
  margin-top: 17%;
  margin-right: 3%;
}

.tripShowTitle {
  margin-top: 8%;
}


.tripTitle {
  font-family: 'Lato', sans-serif;
  color: #00334F;
  font-weight: bold;
  font-size: 35px;
}

.userLocations {
  font-family: 'Lato', sans-serif;
  color: #00334F;
  font-size: 22px;
}

.createTrip {
  height: 26px;
  width: 80px;
  padding: 0px;
  margin-top: 0px;
  margin-left: 2%;
}

.tripTitleInput{
  width: 180px;
}

#infoWindow {
  text-align: center;
  color: #00334F;
}
.delCom {
  height: 20px;
  width: 35px;
  font-size: 10px;
  padding: 0px;
  margin-left: 5px;
}

.createComm {
  margin-top: 11%;
  margin-left: -32%;
}

.body {
  font-family: 'Lato', sans-serif;
  margin-left: 17%;
  color: #00334F;
  font-size: 28px;
}

button, input, textarea {
  font-family: 'Lato', sans-serif;
}

a, a:hover, a:focus {
  color: black;
}

strong {
  font-weight: 400;
}

.createdBy {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.legFormLabel {
  display: block;
}

label {
  color: #00334F;
}

.tripShow {
  background-color: #fff9f9;
}

.newTrip {
  background-color: #fff9f9;
  height: 100vh;
}

.legContent {
  border: 2px solid $brand-secondary;
}

img {
  width: 600px;
  height: 400px;
}

.userImages {
  width: 220px;
  height: 220px;
  margin-bottom: 8%;
}

.userDates {
  font-size: 14px;
  margin-top: -1%;
}
.usersTripsCentered {
  text-align: center;
}

.file {
  font-size: 12px;
}

.dates-content {
  padding: 10px;
}

.legDescription {
}

.legBtns {
  text-align: center;
}

.locationShow {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  list-style-type: none;
}

.bold {
  font-weight: bold;
  font-size: 30px;
}

.image {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.editTrip {
  float: right;
  margin-top: -8%;
  width: 8%;
}

.delTrip {
  float: right;
  margin-top: -4%;
  width: 8%;
}

.dateShow {
  letter-spacing: 2px;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
}

.imageShow {
  letter-spacing: 2px;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
}

.addLeg {
  letter-spacing: 2px;
  list-style-type: none;
  color: #00334F;
}

.descriptionShow {
  letter-spacing: 2px;
  list-style-type: none;
  font-family: 'Raleway', sans-serif;
}

li {
  list-style-type: none;
}

.joinees {
  @extend .border;
  @extend .border--blue;
  // padding: 5%;
  width: 60%;
  float: right;
  // height: 210px;
  ul {
    li {
      text-align: center;
      padding-left: 15px;
      position: relative;
      &:before {
        // content: "";
        position: absolute;
        top: 60%;
        left: 0;
        transform: translateY(-50%);
        height: 5px;
        width: 5px;
        background-color: $brand-secondary;
        border-radius: 50%;
      }
    }
  }
}

.legForm {
    border-color: $brand-secondary;
    border-width: 2px;
    border-style: solid;
    padding: 15px;
    border-radius: 2px;
    margin-bottom: 3px;
    input {
      width: 100%;
    }
  }
